@font-face {
    font-family: "Baskerville Old Face";
    src: url(../ttf/font1.ttf);
}

body {
    margin: auto 10%;
}

.navbar-1 {
    font-family: "Baskerville Old Face";
    color: black;
    font-size: 18pt;
}

.lookbook {
    color: #8699B1;
    font-size: 65pt;
    font-family: "Baskerville Old Face";
    text-align: center;
}