@font-face {
    font-family: "Baskerville Old Face";
    src: url(../ttf/font1.ttf);
}

body {
    margin: auto 10%;
}

.navbar-1 {
    font-family: "Baskerville Old Face";
    color: black;
    font-size: 30pt;
}

.newitems {
    font-family: "Baskerville Old Face";
    color: black;
    text-align: center;
}

.skirts {
    font-family: "Baskerville Old Face";
    color: black;
    text-align: center;
}

.youtube {
    font-family: "Baskerville Old Face";
    color: black;
    text-align: center;
}

.insta {
    font-family: "Baskerville Old Face";
    color: black;
    text-align: center;
}

.about-me {
    font-family: "Baskerville Old Face";
    color: black;
    text-align: left;
}

.subscribe {
    font-family: "Baskerville Old Face";
    color: black;
    text-align: right;
}

.official-color {
    color: #8699B1;
    font-size: 65pt;
}